body {
    background: url("https://images.unsplash.com/photo-1542394731-170c9e6d914e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1422&q=80");
    background-size: cover;
    background-position: center; 
}
body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: white;
}

h1 {
    position: relative;
	font-weight: 700;
	font-size: 5em;
    top: -130px
}
h3 {
    position: relative;
    top: -120px
        
}

.content{
	padding-top: 25%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

button {
    position: relative;
    top: 60px
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.220
}

